@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #1e40af;
  --color-accent: #22d3ee;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
}
